svg {
  /*border: 1px dashed red;*/
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.view-title {
  font-weight: bold;
}

.view {
  
}

.small.panel {
  width: 300px;
}

.inner-boundary {
  fill: none;
  stroke: #000;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.outer-boundary {
  fill: none;
  stroke: #000;
}

.place {
  fill: #ff0;
  stroke: #000;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}

/* General Container Rules */

.container {
  width: 1200px;
  margin: 0 auto;
  /*border: 1px dashed red;*/
}

.container-col {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}

.container-row {
  position: relative;
}

h1 {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 5px;
}

.hidden {
    display: none;
}

.legendTitle {
    text-anchor: middle;
    font-size: .75rem;
    fill: #4F4F4F;
    font-weight: 300;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.legendWrapper .axis * {
  stroke: none;
}

/* Timeline */

/*#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}*/

#chart {
  position: relative;
  left: 3%;
  width: 94.1%;
  height: 170px;
  margin-top: 10px;
}

#slider {
  position: relative;
  left: 3%;
  width: 96%;
  margin-top: 10px;
  /*height: 170px;*/
}

#y_axis {
  position: absolute;
  top: 0;
  right: 0;
  width: 3%;
}

#timeline-heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
}

#timeline-heading text {
  font-size: x-large;
}

.rickshaw_graph .y_ticks {
  left: 0;
}

#slider {
  height: 170px;
}

/* Categories */

#categories .legend {
  stroke: none;
  fill: none;
  pointer-events: none;
}

#categories text {
  dominant-baseline: central;
}

#categories .legend_item .background {
  cursor: pointer;
  fill: white;
}

#categories .legend_item .background:hover {
  stroke: black;
  stroke-width: 0.5px;
}

/*.selected {
  stroke: #000;
  fill: lightgray;
}*/

.centroid {
  fill: blue;
  opacity: 0.9;
  stroke: #000;
  stroke-width: 1;
}

#map {
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 400px;
  height: 600px;
  position: relative;
}

.rotate-north {
  top: .5em;
  left: .5em;
}

.legend_item text {
  font-size:  11px;
  paint-order: stroke;
  stroke: white;
  fill: black;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-weight: 800;
}

.legend_item .name {
  text-anchor: end;
}

#overlay {
  visibility: hidden;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
  width: 80px;
  height: 120px;
  border-radius: 5px;
  z-index: 666;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

#pie {
  position: absolute;
}

#pie text {
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 12px;
}

.arc path {
  stroke: #fff;
  stroke-width: .5px;
}

#map-legend {
  position: absolute;
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90px;
  height: 180px;
  right: 10px;
  top: 10px;
  z-index: 666;
}

#map-legend rect {
  stroke: #000;
}

#map-legend #subtitle {
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 11px;
}

.y.axis line,
.y.axis path {
  fill: none;
  stroke: #000;
}

/* Hashtags */

.ht-selected {
  background-color: #1B4F72;
  color: white;
}

.ht-hover {
  background-color: lightgray;
}

.scroll-small {
  height: 300px;
  width: 300px;
  overflow-y: scroll;
}

#hashtags td {
  font-size: smaller;
  cursor: pointer;
}

#hashtags td.value {
  text-align: right;
}

#hashtags .item td span {
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.nav .view-title {
  pointer-events: none;
  color: inherit;
}

/* Hexbin */

.hex path {
  stroke: black;
  stroke-width: 0.5;
}

.hex path:hover {
  stroke-width: 2;
}

.hex-num {
  dominant-baseline: central;
  text-anchor: middle;
  alignment-baseline: middle;
  stroke: white;
}

#hexbin #legend {
  font-size: smaller;
  font-weight: bold;
  width: 290px;
  height: 60px;
  padding: 5px;
  margin: 5px;
  border-top: 1px solid lightgray;
  overflow-y: auto;
}

#hexbin {
  /*width: 310px;*/
}

#hexbin .selected-full {
  opacity: 1.0;
  stroke-width: 2;
}

#hexbin .selected-part {
  opacity: 1.0;
  stroke-width: 0.5;
}

#hexbin .not-selected {
  opacity: 0.25;
  stroke-width: 0;
}

/* Tweets */

.scroll-large {
  height: 567px;
  width: 415px;
  overflow-y: auto;
}

#tweets-heading {
  display: flex;
  justify-content: space-between;
}

#tweets td.content {
  font-size: smaller;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 55px;
  width: 365px;
  word-wrap: break-word;
}

#tweets td svg {
  margin: 0px;
  border: 1px solid black;
  height: 35px;
}

#tweets {
  table-layout: fixed;
}

#tweets tr.unselected {
  opacity: 0.25;
}

#tweets tr.selected {
  border: 3px solid black;
}

/* Bootstrap overrides */

.panel-body {
  padding: 3px;
  padding-right: 1px;
}

.panel {
  margin-bottom: 5px;
}

.tab-content.panel {
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-heading, .nav li.active a, .nav li a {
  height: 30px;
  padding-top: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
